<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/splash_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPTown_"
        tools:targetApi="31">

        <!-- 스플래시 스크린 액티비티에 전용 테마 적용 -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"/>
        <!-- 회원가입 -->
        <activity
            android:name=".JoinMembershipActivity"
            android:exported="true"/>
        <activity android:name=".JoinMembershipDetailActivity"
            android:exported="true"/>

            <!-- 메인화면 -->
            <activity
                android:name=".MainActivity"
                android:exported="true" />

            <!-- 상품 상세 / 리뷰 -->
            <activity
                android:name=".ItemDetailsReview"
                android:exported="true" />

        <!-- 상품 상세 / 리뷰 -->
        <activity
            android:name=".ItemDetailsInquiry"
            android:exported="true" />

            <!-- 내정보 -->
            <activity
                android:name=".MyPageActivity"
                android:exported="true"/>

            <!-- 병원 -->
            <activity
                android:name=".HospitalActivity"
                android:exported="true"/>

            <!-- 병원 세부-->
            <activity
                android:name=".HospitalDetailsActivity"
                android:exported="true"/>

            <!-- 알림 -->
            <activity
                android:name=".NoticeActivity"
                android:exported="true"/>

            <!-- 커뮤니티 -->
            <activity
                android:name=".CommunityActivity"
                android:exported="true"/>

            <!-- 장바구니 -->
            <activity
                android:name=".CartActivity"
                android:exported="true" />

            <!-- 검색 -->
            <activity
                android:name=".SearchActivity"
                android:exported="true" />

            <!-- 검색 완료 -->
            <activity
                android:name=".SearchDetailsActivity"
                android:exported="true" />

            <!-- 주문/결제 -->
            <activity
                android:name=".OrderActivity"
                android:exported="true" />

            <!-- 카테고리 메인 -->
            <activity
                android:name=".CategoryMainActivity"
                android:exported="true" />

            <!-- 카테고리 사료 1 -->
            <activity
                android:name=".CategoryFeed1Activity"
                android:exported="true" />

            <!-- 카테고리 사료 2 -->
            <activity
                android:name=".CategoryFeed2Activity"
                android:exported="true" />

            <!-- 카테고리 사료 3 -->
            <activity
                android:name=".CategoryFeed3Activity"
                android:exported="true" />

            <!-- 카테고리 사료 4 -->
            <activity
                android:name=".CategoryFeed4Activity"
                android:exported="true" />

            <!-- 카테고리 간식1 -->
            <activity
                android:name=".CategorySnack1Activity"
                android:exported="true" />

            <!-- 카테고리 간식2 -->
            <activity
                android:name=".CategorySnack2Activity"
                android:exported="true" />

            <!-- 카테고리 간식3 -->
            <activity
                android:name=".CategorySnack3Activity"
                android:exported="true" />

            <!-- 카테고리 간식4 -->
            <activity
                android:name=".CategorySnack4Activity"
                android:exported="true" />

            <!-- 카테고리 간식5 -->
            <activity
                android:name=".CategorySnack5Activity"
                android:exported="true" />

            <!-- 카테고리 간식6 -->
            <activity
                android:name=".CategorySnack6Activity"
                android:exported="true" />

            <!-- 카테고리 간식7 -->
            <activity
                android:name=".CategorySnack7Activity"
                android:exported="true" />

            <!-- 카테고리 용품1 -->
            <activity
                android:name=".CategoryProduct1Activity"
                android:exported="true" />

            <!-- 카테고리 용품2 -->
            <activity
                android:name=".CategoryProduct2Activity"
                android:exported="true" />

            <!-- 카테고리 용품6 -->
            <activity
                android:name=".CategoryProduct3Activity"
                android:exported="true" />

            <!-- 카테고리 용품4 -->
            <activity
                android:name=".CategoryProduct4Activity"
                android:exported="true" />

            <activity
                android:name=".CommunityContentActivity"
                android:exported="true"/>

            <activity
                android:name=".CommunityPostActivity"
                android:exported="true"/>

            <activity
                android:name=".CommunityDeleteActivity"
                android:exported="true"/>

            <activity
                android:name=".CouponActivity"
                android:exported="true"/>

            <activity
                android:name=".CouponNoActivity"
                android:exported="true"/>

            <activity
                android:name=".CouponReceiveActivity"
                android:exported="true"/>

            <activity
                android:name=".CouponChoice"
                android:exported="true"/>

            <activity
                android:name=".PetAdministration"
                android:exported="true"/>

            <activity
                android:name=".InquireNoActivity"
                android:exported="true"/>

            <activity
                android:name=".InquireProductNoActivity"
                android:exported="true"/>

            <activity
                android:name=".InquireMyActivity"
                android:exported="true"/>

            <activity
                android:name=".InquireChoiceActivity"
                android:exported="true"/>

            <activity
                android:name=".InquireWriteActivity"
                android:exported="true"/>

        <activity
                android:name=".InquireAddActivity"
                android:exported="true"/>


        <activity
                android:name=".InquireActivity"
                android:exported="true"/>

            <activity
                android:name=".MypageNoLoginActivity"
                android:exported="true"/>

            <activity
                android:name=".NoticeNotAvailableActivity"
                android:exported="true"/>

            <activity
                android:name=".NoticeNoActivity"
                android:exported="true"/>

            <activity
                android:name=".OrderDetailsActivity"
                android:exported="true"/>

            <activity
                android:name=".OrderDetailsRefundActivity"
                android:exported="true"/>

            <activity
                android:name=".PayCompleteActivity"
                android:exported="true"/>

            <activity
                android:name=".OrderPayDetail"
                android:exported="true"/>

            <activity
                android:name=".OrderDetailRefund"
                android:exported="true"/>

            <activity
                android:name=".PersonalInformationActivity"
                android:exported="true"/>

            <activity
                android:name=".ReviewNoWritten"
                android:exported="true"/>

            <activity
                android:name=".ReviewDetail"
                android:exported="true"/>

            <activity
                android:name=".ReviewRegister"
                android:exported="true"/>

            <activity
                android:name=".ReviewModify"
                android:exported="true"/>

            <activity
                android:name=".ReviewAddActivity"
                android:exported="true"/>

            <activity
                android:name=".ReviewNoActivity"
                android:exported="true"/>

            <activity
                android:name=".ReviewWrittenActivity"
                android:exported="true"/>

            <activity
                android:name=".ReviewDeleteActivity"
                android:exported="true"/>

            <activity
                android:name=".ItemDetails"
                android:exported="true"/>

        <activity
            android:name=".CommunityAddActivity"
            android:exported="true" />

        <activity
            android:name=".SaleProductActivity"
            android:exported="true" />

        <activity
            android:name=".NewProductActivity"
            android:exported="true" />

        <activity
            android:name=".PetAdministration"
            android:exported="true" />

    </application>

</manifest>