<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/splash_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EPTown_"
        tools:targetApi="31">

<!--        &lt;!&ndash; 스플래시 스크린 액티비티에 전용 테마 적용 &ndash;&gt;
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->

        <!-- 로그인 -->
        <activity
            android:name=".Login"
            android:exported="true"/>
        <!-- 회원가입 -->
        <activity
            android:name=".login1Activity"
            android:exported="true">
                <intent-filter>
                        <action android:name="android.intent.action.MAIN" />
                        <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>
        <activity android:name=".login3Activity"
            android:exported="true"/>

        <!-- 메인화면 -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- 상품 상세 / 리뷰 -->
        <activity
            android:name=".ItemDetailsReview"
            android:exported="true" />

        <!-- 내정보 -->
        <activity
            android:name=".MyPageActivity"
            android:exported="true"/>

        <!-- 병원 -->
        <activity
            android:name=".HospitalActivity"
            android:exported="true"/>

        <!-- 병원 세부-->
        <activity
            android:name=".HospitalDetailsActivity"
            android:exported="true"/>

        <!-- 알림 -->
        <activity
            android:name=".NoticeActivity"
            android:exported="true"/>

        <!-- 커뮤니티 -->
        <activity
            android:name=".CommunityActivity"
            android:exported="true"/>

        <!-- 장바구니 -->
        <activity
            android:name=".CartActivity"
            android:exported="true" />

        <!-- 검색 -->
        <activity
            android:name=".SearchActivity"
            android:exported="true" />

        <!-- 검색 완료 -->
        <activity
            android:name=".SearchDetailsActivity"
            android:exported="true" />

        <!-- 주문/결제 -->
        <activity
            android:name=".OrderPayActivity"
            android:exported="true" />

        <!-- 카테고리 메인 -->
        <activity
            android:name=".CategoryMainActivity"
            android:exported="true" />

        <!-- 카테고리 사료 1 -->
        <activity
            android:name=".CategoryFeed1Activity"
            android:exported="true" />

        <!-- 카테고리 사료 2 -->
        <activity
            android:name=".CategoryFeed2Activity"
            android:exported="true" />

        <!-- 카테고리 사료 3 -->
        <activity
            android:name=".CategoryFeed3Activity"
            android:exported="true" />

        <!-- 카테고리 사료 4 -->
        <activity
            android:name=".CategoryFeed4Activity"
            android:exported="true" />

        <!-- 카테고리 간식1 -->
        <activity
            android:name=".CategorySnack1Activity"
            android:exported="true" />

        <!-- 카테고리 간식2 -->
        <activity
            android:name=".CategorySnack2Activity"
            android:exported="true" />

        <!-- 카테고리 간식3 -->
        <activity
            android:name=".CategorySnack3Activity"
            android:exported="true" />

        <!-- 카테고리 간식4 -->
        <activity
            android:name=".CategorySnack4Activity"
            android:exported="true" />

        <!-- 카테고리 간식5 -->
        <activity
            android:name=".CategorySnack5Activity"
            android:exported="true" />

        <!-- 카테고리 간식6 -->
        <activity
            android:name=".CategorySnack6Activity"
            android:exported="true" />

        <!-- 카테고리 간식7 -->
        <activity
            android:name=".CategorySnack7Activity"
            android:exported="true" />

        <!-- 카테고리 용품1 -->
        <activity
            android:name=".CategoryProduct1Activity"
            android:exported="true" />

        <!-- 카테고리 용품2 -->
        <activity
            android:name=".CategoryProduct2Activity"
            android:exported="true" />

        <!-- 카테고리 용품6 -->
        <activity
            android:name=".CategoryProduct3Activity"
            android:exported="true" />

        <!-- 카테고리 용품4 -->
        <activity
            android:name=".CategoryProduct4Activity"
            android:exported="true" />

        <activity
            android:name=".cart_amountActivity"
            android:exported="true"/>

        <activity
            android:name=".cart_deleteActivity"
            android:exported="true"/>

        <activity
            android:name=".community2Activity"
            android:exported="true"/>

        <activity
            android:name=".community8Activity"
            android:exported="true"/>

        <activity
            android:name=".coupon1Activity"
            android:exported="true"/>

        <activity
            android:name=".coupon2Activity"
            android:exported="true"/>

        <activity
            android:name=".coupon3Activity"
            android:exported="true"/>

        <activity
            android:name=".coupon5Activity"
            android:exported="true"/>

        <activity
            android:name=".health_informationActivity"
            android:exported="true"/>

        <activity
            android:name=".health_information3Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire1Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire2Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire3Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire4Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire5Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire6Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire7Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire8Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire9Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire10Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire11Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire12Activity"
            android:exported="true"/>

        <activity
            android:name=".inquire13Activity"
            android:exported="true"/>

        <activity
            android:name=".mypage_no_loginActivity"
            android:exported="true"/>

        <activity
            android:name=".notice2Activity"
            android:exported="true"/>

        <activity
            android:name=".notice3Activity"
            android:exported="true"/>

        <activity
            android:name=".order_detailsActivity"
            android:exported="true"/>

        <activity
            android:name=".order_details2Activity"
            android:exported="true"/>

        <activity
            android:name=".order_pay5Activity"
            android:exported="true"/>

        <activity
            android:name=".order_pay6Activity"
            android:exported="true"/>

        <activity
            android:name=".order_pay7Activity"
            android:exported="true"/>

        <activity
            android:name=".order_pay8Activity"
            android:exported="true"/>

        <activity
            android:name=".personal_informationActivity"
            android:exported="true"/>

        <activity
            android:name=".profile_administrationActivity"
            android:exported="true"/>

        <activity
            android:name=".profile_administration3Activity"
            android:exported="true"/>

        <activity
            android:name=".review1Activity"
            android:exported="true"/>

        <activity
            android:name=".review2Activity"
            android:exported="true"/>

        <activity
            android:name=".review3Activity"
            android:exported="true"/>

        <activity
            android:name=".review4Activity"
            android:exported="true"/>

        <activity
            android:name=".review5Activity"
            android:exported="true"/>

        <activity
            android:name=".review_1Activity"
            android:exported="true"/>

        <activity
            android:name=".review_2Activity"
            android:exported="true"/>

        <activity
            android:name=".review_3Activity"
            android:exported="true"/>

        <activity
            android:name=".review_4Activity"
            android:exported="true"/>

        <activity
            android:name=".review_5Activity"
            android:exported="true"/>

        <activity
            android:name=".review_higherActivity"
            android:exported="true"/>

        <activity
            android:name=".review_lowerActivity"
            android:exported="true"/>

    </application>

</manifest>