*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/main/EPTown__/app/eptown-e1e07-firebase-adminsdk-w0wha-031725cbc2.json
/main/EPTown__/app/google-services.json
